[Unit]
Description=DX-Things SNMP Service
After=multi-user.target

[Service]
Type=idle
User=dxlroot
ExecStart=/usr/bin/python <path-to-folder>/main.py

[Install]
WantedBy=multi-user.target